* {
    box-sizing: border-box;
}

body{
    background: radial-gradient(rgb(3, 155, 3), green);
}

#grid-container {
    height: 80vh;
    margin: 0 10% 0 10%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        ". cpu1 ."
        "cpu2 center cpu3"
        ". playerhand ."
    ;
    background-color: rgb(145, 85, 57);
    border: 5px solid brown;
}

#center{
    display: grid;
    grid-auto-flow: column;
}

#center-right{
    display: grid;
    grid-auto-flow: row;
    align-content: center;
}

button{
    margin: auto auto auto auto;
    width: 100px;
}

#cpu1{
    display: grid;
    grid-auto-flow: column;
}

#cpu2{
    display: grid;
    grid-auto-flow: row;
}

#cpu3{
    display: grid;
    grid-auto-flow: row;
}

#playerhand{
    display: grid;
    grid-auto-flow: column;
}

.hand{
    justify-content: center;
    align-content: center;
    gap: 4px;
}

#deck{
    margin: 25% 0 0 10%;
}

.card {
    display: inline-block;
    position: absolute;
    width: 5em;
    height: 7em;
    background-color: #ffffff;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
    transition: 0.1s;
}

.red{
    color: red;
}

.black{
    color: black;
}

.card-topleft {
    position: absolute;
    top: 0.5em;
    left: 0.75em;
}
.card-bottomright {
    position: absolute;
    bottom: 0.5em;
    right: 0.75em;
    transform: rotate(180deg);
}
.card-corner-rank, .card-corner-suit {
    width: 1em;
    text-align: center;
    transform: translate(-50%, 0);
}

img {
    width: 5em;
    height: 7em;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
    position: absolute;
}

.cardfront{
    text-align: center; 
    vertical-align: middle;
}

.drawn>img{
    display: none;
}

.drawn>.cardfront{
    display: inline;
    position: relative;
}